In [3]:
import pandas as pd
from pathlib import Path
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [4]:
file_path = "Resources/watson_healthcare_modified.csv"
df = pd.read_csv(file_path)

In [5]:
df.head()

,EmployeeID,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,Shift,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1313919,41,No,Travel_Rarely,1102,Cardiology,1,2,Life Sciences,1,...,1,80,0,8,0,1,6,4,0,5
1,1200302,49,No,Travel_Frequently,279,Maternity,8,1,Life Sciences,1,...,4,80,1,10,3,3,10,7,1,7
2,1060315,37,Yes,Travel_Rarely,1373,Maternity,2,2,Other,1,...,2,80,0,7,3,3,0,0,0,0
3,1272912,33,No,Travel_Frequently,1392,Maternity,3,4,Life Sciences,1,...,3,80,0,8,3,3,8,7,3,0
4,1414939,27,No,Travel_Rarely,591,Maternity,2,1,Medical,1,...,4,80,1,6,3,3,2,2,2,2

## Data Cleaning

In [8]:
null_counts = df.isnull().sum()
print(null_counts)

EmployeeID                  0
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
Shift                       0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [16]:
duplicates = df.duplicated()
num_duplicates = duplicates.sum()
print(f"duplicate rows: {num_duplicates}")

Duplicates in the DataFrame:
 0       False
1       False
2       False
3       False
4       False
        ...
1671    False
1672    False
1673    False
1674    False
1675    False
Length: 1676, dtype: bool
Number of duplicate rows: 0

0       False
1       False
2       False
3       False
4       False
        ...
1671    False
1672    False
1673    False
1674    False
1675    False
Length: 1676, dtype: bool

In [ ]:
# Column names seem fine, they have no spaces which is great.

In [ ]:
# Convert non-numerical features to numerical values using Scaling.

In [ ]:
# Split the data into training and test sets.

In [ ]:
# Choose which model we want to use, maybe log reg?

In [14]:
# Evaluate the model using the test set and accuracy + precision metrics

In [15]:
# Save the model as a file for use (can use “joblib” or something)

In [ ]:
#Now out of Jupyter:

## Create a Flask(will have code to capture and process form data/user input, and plotly code)/HTML(will contain input form for users to input re each feature)
#Load the saved model file into our Flask
#Test it out
#Deploy Flask app on AWS or Google Cloud if we want